@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet map styles */
@import "leaflet/dist/leaflet.css";

/* Your global styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}